<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FileSearchPath" value="XmlsToProcess"/>
		<add key="FileSearchPattern" value="*.xml"/>
		<add key="FileSearchArchiveFolderName" value="ProcessedArchive"/>
		<add key="DelayBetweenFileSearches" value="1000"/>
		<add key="LogFile" value="FileParserLog.txt"/>

		<add key="RabbitMQClientHostName" value="localhost"/>
		<add key="RabbitMQClientPort" value="5672"/>
		<add key="RabbitMQClientUsername" value="worker"/>
		<add key="RabbitMQClientPassword" value="worker"/>
		<add key="RabbitMQClientQueue" value="service-queue"/>
	</appSettings>
</configuration>