<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="RabbitMQClientHostName" value="localhost"/>
		<add key="RabbitMQClientPort" value="5672"/>
		<add key="RabbitMQClientUsername" value="worker"/>
		<add key="RabbitMQClientPassword" value="worker"/>
		<add key="RabbitMQClientQueue" value="service-queue"/>
		<add key="LogFile" value="DataProcessorLog.txt"/>

		<add key="SqLiteDatabaseConnectionString" value="Data source = AppDatabase.db"/>
	</appSettings>
</configuration>